// Typography

$font-family-sans-serif: 'Helvetica', sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;

$font-family: $font-family-sans-serif;

// -- Font Sizes

$font-size-base: 14px;
$font-size: $font-size-base;

// -- Line Height
$line-height-base: 1.5;

// Colors

$white: #ffffff;

$background-primary: $white;