@import './base/ui-variables.scss';

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
}

#root.workspace {
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
	font-family: $font-family;

	background-color: $background-primary;
}

.sheet-container {
	height: 100%;
}

.injected-region-visible {
	border: 1px dashed rgba(255, 0, 0, 0.5);
	margin: 2px;
	position: relative;
	min-height: 1.5em;
	> .name {
		background-color: rgba(255, 180, 180, 0.9);
		position: absolute;
		color: black;
		font-size: 13px;
		top: 50%;
		left: 50%;
		white-space: nowrap;
		z-index: 100;
		transform: translate(-50%, -50%);
		user-select: text;
	}
	&:hover {
		border: 1px dashed rgba(255, 0, 0, 1);
	}
}

.sheet-toolbar {
	/*position: relative;
	width: 100%;
	height: 34px;
	min-height: 34px;
	max-height: 34px;*/

	display: none;
}

.sheet {
	background-color: rgba(1, 1, 1, 0.7);
}

.top-toolbar {
	display: flex;
	margin-left: 20px;

	input[type=checkbox] {
		margin-top: 3px;
	}
}